html,
body {
    position: relative;
    height: 100%;
}

body {
	background-color: rgb(235, 235, 235);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.container {
	width: 90%;
	min-width: 50%;
	margin: auto;
	display: flex;
	flex-direction: column;
}


/* __Swiper Style__ */
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

/* __Card Style__ */
.card {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
}

.card img {
    max-width: 100%;
    display: block;
}

.card h2 {
    position: absolute;
    top: 85%;
    left: 51%;
    transform: translate(-60%, -50%);
    background: rgba(255, 255, 255, 0.8);
    border-radius: 0 12px 12px 0;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
}

.detail-button {
    position: absolute;
    top: 10%;
    border-radius: 12px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: none;
    font-size: 30px;
    text-align: center;
}

.detail-button i {
    display: block;
    margin: 5px auto;
}

.card:hover .detail-button {
    display: block;
}

/* __Modal Style__ */
.container-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #222;
    position: relative;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 100px;
    position: absolute;
    margin-top: 50%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 6;
}

.modal h1 {
    font-size: 2rem;
    align-self: center;
    margin: 0;
}

.modal h2 {
    margin: 0 0 1rem 0;
}

.modal .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal input {
    padding: 0.7rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
    display: block;
    min-width: 92%;
    margin-bottom: .5rem;
}

.modal p {
    font-size: 0.9rem;
    color: #777;
    margin: 0.4rem 0 0.2rem;
}

.flex button {
    cursor: pointer;
    border: none;
    font-weight: 600;
    position: absolute;
    margin: 1rem;
    right: 0;
    top: 0;
}

.btn {
    display: inline-block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
}

.btn-close {
    padding: 0.5rem 0.7rem;
    background: #eeeeee;
    border-radius: 50%;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 5;
}

.hidden {
    display: none;
}

/* Embed JSON style */
#show-json-from-git {
    background: black;
    color: white;
    overflow: scroll;
    max-height: 37rem;
    padding: 1rem;
    font-weight: 200;
}

/* Responsive query */
@media screen and (max-width: 780px) {
	.modal {
        width: 340px;
        margin-top: 740px;
    }
}